

<table class="table  table-bordered">
  <thead>
    <tr>
      <th>
        #
      </th>
      <th>
        Book
      </th>
      <th>
        Author
      </th>
      <th>
        Select
      </th>
    </tr>
  </thead>
  <tbody *ngFor="let book of bookList" >
    <tr class="table-active">
      <td *ngIf="page" >
        {{page}}
      </td>
      <td>
        {{book.bookName}}
      </td>
      <td>
        {{book.bookAuthor}}
      </td>
      <td>
        <button type="button" class="btn btn-secondary" (click)="pushBook(book.id)">Push</button>
      </td>
    </tr>
  </tbody>
</table>