<div class="container-fluid">
  <div class="row">
    <div class="col-md-8" *ngIf="pageNumber" >
      <router-outlet></router-outlet>
      <ngb-pagination [collectionSize]="pageNumber" [(page)]="page" [maxSize]="5" [rotate]="true" [boundaryLinks]="true"
      (pageChange)="selectPage()">
      </ngb-pagination>
    </div>
    <div class="col-md-4">
      <ol>
        <li class="list-item">
          将邮箱466659581@qq.com添加到kindle邮箱白名单里
        </li>
        <li class="list-item">
          选择书籍，然后点击发送
        </li>
        <li class="list-item">
          跳转到发送页面，输入kindle邮箱
        </li>
        <li class="list-item">
          点击发送
        </li>
        <li class="list-item">
          从kindle账户将书籍发送到设备
        </li>
      </ol>
    </div>
  </div>
</div>
